# Objectives: 
## - Develop a predictive (regression) model that predicts prices of (future) iPhone releases
## - Train the model with data of iPhone prices from first release (2007) to present day
## - Deploy predictive model into the front-end as a web application using Dash (Python) and/or React (JavaScript)

In [130]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import os 
import seaborn as sns 
%matplotlib inline 

data_path = "./iphone_releases.csv"

iphones = pd.read_csv(data_path)

def saveOutput(df, filename):
    df.to_csv(filename)

### Stage 1: Pre-Processing
#### - Clean, format, and repurpose iPhone price data for the predictive model

In [131]:
# CONVERT ALL TO LOWERCASE 
iphones = iphones.apply(lambda col: col.str.upper() if col.dtype == 'O' else col) 

# REFORMAT "DATE" COLUMN 
# exclude month and day, only keep year 
# rename column to "year"
iphones["date"] = iphones["date"].str[:4] 
iphones.rename(columns={"date": "year"}, inplace=True)

In [132]:
saveOutput(iphones, "iphones_output.csv")

iphones

     year version edition scale  memory   price
0    2007     NaN     NaN   NaN       4   499.0
1    2007     NaN     NaN   NaN       8   599.0
2    2008      3G     NaN   NaN       8   199.0
3    2008      3G     NaN   NaN      16   299.0
4    2009      3G       S   NaN      16   199.0
..    ...     ...     ...   ...     ...     ...
109  2023      15     PRO   NaN     512  1299.0
110  2023      15     PRO   NaN    1024  1499.0
111  2023      15     PRO   MAX     256  1199.0
112  2023      15     PRO   MAX     512  1399.0
113  2023      15     PRO   MAX    1024  1599.0

[114 rows x 6 columns]